@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: 'Loretta';
  src: url('fonts/Loretta-Light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Loretta-Italic';
  src: url('fonts/Loretta-LightItalic.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Loretta-Medium';
  src: url('fonts/Loretta-Medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}

body {
  background-color: #FFFFFF;
  padding: 5% 10% 10% 10%;
}
.project-body {
  background-color: #FFFFFF;
  padding: 5% 24% 10% 24%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 48px;
}
.grid > div {
  padding: 24px;
  border: 1px solid black;
}

::selection {
  background: #CDE784;
}

.container {
  padding-bottom: 5%;
}

img {
  width: 100%;
  margin-top: 8px;
}
video {
  width: 100%;
}

/*---- TYPOGRAPHY ----*/

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-family: 'Loretta', 'Times New Roman', Times, serif;
  line-height: 1.6;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: 'Loretta', 'Times New Roman', Times, serif;
  line-height: 1.6;
  font-size: 1em;
  margin: 8px 0px;
}

.section-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.caption {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: grey;
}

.button {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
}

.quote {
  font-family: 'Loretta-Italic', 'Times New Roman', Times, serif;
  font-size: 1.25em;
  line-height: 1.4em;
  border-left: 1px solid;
  margin: 8px;
  padding: 0% 4%;
}

.img-caption {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: grey;
  margin: 2px;
}

.sub-copy {
  font-family: 'Inter';
  line-height: 1.6;
  font-size: 1em;
  color: grey;
}

/*---- LISTS ----*/

ul {
  padding-left: 2%;
}
li {
  font-family: 'Loretta', sans-serif;
  line-height: 1.6;
  font-size: 1em;
  margin: 8px 0 8px 0;
  padding-right: 2%;
  list-style-position: outside;
  padding-left: 8px;
  padding-bottom: 8px;
}

.points {
  list-style-type: "✳︎";
}

.points li{
  font-family: 'Loretta-Medium', sans-serif;
}

/*---- LINKS ----*/

a {
  color: black;
  text-decoration: none;
  font-family: 'Loretta', serif;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: dashed;
  text-decoration-thickness: 1.5px; 
  text-decoration-color: gray;
}

.caption-link {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: gray;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px; 
  text-decoration-color: gray;
}

.page-links {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}

.project-links {
  list-style-type: "↗︎";
}

.p-links {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px; 
  text-decoration-color: gray;
}

/*---- SPACING ----*/

.spacer {
  display: flex;
  height: 24px;
}
.spacer-s {
  display: flex;
  height: 8px;
}

/*---- MEDIA QUERIES ----*/
 @media (max-width: 768px) { 
  body { padding: 5% 10% 10% 10%; }

}
@media (max-width: 480px) {
  body { padding: 2.5%; }
}
