@charset "UTF-8";

/* --- Global Styles --- */

/* --- TYPE --- */

@font-face {
  font-family: 'Loretta';
  src: url('./fonts/Loretta-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Loretta-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('./fonts/Loretta-Regular.woff') format('woff'), /* Modern Browsers */
      url('./fonts/Loretta-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/Loretta-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('./fonts/Loretta-Regular.svg#svgLoretta-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

h1, h3, h4 {
  font-family: 'Loretta', serif;
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  margin: 8px 0 16px 0;
}

h2 {
  font-family: 'Loretta', serif;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

li {
  display: inline;
  margin: 0 8px 0 0;
  text-decoration: none;
}

a {
  color: black;
}

.subcopy {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* --- LAYOUT --- */

.container {
  padding: 5% 27%;
}

.nav {
  padding-bottom: 16px;
}

.posts {
  padding: 24px 0 24px 0;
}

.spacer {
  display: flex;
  height: 24px;
}

img {
 width:100%;
 padding-bottom: 24px;
}

/*---- REFLECTION ----*/

.reflection-style {
  background-color: black;
  color: white;
}
.reflection {
  display: none;
}

/*---- MEDIA QUERIES ----*/

@media (max-width: 768px) {
  .container { padding: 10% 15%; }
}
@media (max-width: 425px) {
  .container { padding: 5%; }
}
