@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Overpass", sans-serif;
}

h1 {
  font-size: 2em;
}

.bold {
  font-weight: 700;
}

.container-fluid {
  padding-bottom: 5%;
}

.navbar {
  padding-top: 2.5%;
  font-size: 1em;
  text-align: center;
}

/* --- links --- */
a {
  color: black;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}

/* --- home --- */
.cover {
  width: 100%;
  height: auto;
}

/* --- about --- */
.about {
  padding-top: 5%;
}

/* --- project pages -- */

.photo {
  width: 100%;
  padding-bottom: 5%;
}
.small {
  width: 75%;
}

.small-text {
  font-size: 0.75em;
}

.description {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.assets {
  padding-bottom: 5%;
}

.caption {
  opacity: 0.5;
}

.avenir {
  font-family: "Avenir", sans-serif;
}
.lato {
  font-family: "Lato", sans-serif;
}
.helvetica {
  font-family: "Helvetica", sans-serif;
}

#times {
  text-align: center;
}

#times a {
  display: inline-flex;
  justify-content: space-around;
}

#screen {
  text-align: center;
}
